*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);;*/
    background-image: linear-gradient( 181.3deg,  rgba(134,15,15,1) 24.9%, rgba(183,10,10,1) 46.9%, rgba(210,70,0,1) 85.1% );
}
canvas{
    border:2px solid black;
    background-color: black;
}
#main{
    display:flex;
}
#score{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-height:800px;
    font-size: larger;
    font-weight: bolder;
}
#modal{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border:1px solid black;
    border-radius: 10px;
    z-index:1000;
    background-image: linear-gradient( 181.3deg,  rgba(134,15,15,1) 24.9%, rgba(183,10,10,1) 46.9%, rgba(210,70,0,1) 85.1% );
    width: 500px;
    max-width: 80%;
    height:500px;
}
#modal-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#modal-header  button{
    background: none;
    border:none;
    font-weight: bolder;
    font-size:larger
}
#content .instructions{
    font-weight:bolder;
}
#content{
    padding:15px;
}